@using static PiedraPapelTijera_Blazor.Shared.MainLayout

<div style="display:flex">

    <div style="width:150px">
        <select @bind="@appStage.Color" class = "form-control" style="margin-to : 15px">
            <option value="black">Black</option>
            <option value="blue">Blue</option>
            <option value="red">red</option>
            <option value="purple">Purple</option>
        </select>
       </div>

        <div style = "width : 150px"> 
            <select  @bind="@appStage.Size" class = "form-control" style="margin-to : 15px">
            <option value="12px">12px</option>
            <option value="30px">30px</option>
            <option value="40px">40px</option>
            </select>
        </div>
    </div>

    <div>
        @ChildContent
    </div>


@code {

    [Parameter] public RenderFragment ChildContent { get; set; }
    [CascadingParameter] private AppStage appStage { get; set; }


}
