@page "/"
@using static PiedraPapelTijera_Blazor.Shared.MainLayout

<ModificadorDeStyleBox>
    <ChildContent>
            <h1 style="color : @appStage.Color;  font-size: @appStage.Size"> Juego, piedra, papel o tijera </h1>
    </ChildContent>
</ModificadorDeStyleBox>



@code {

    protected override bool ShouldRender()
    {
        return base.ShouldRender();
    }

        [CascadingParameter] private AppStage appStage { get; set; }
}